package ~[serviceImpl];

import com.yhl.base.service.impl.BaseServiceImpl;
import ~[entityname];
import ~[parantService];
import org.springframework.stereotype.Service;

@Service
public class ~[entitySimpleName]ServiceImpl extends BaseServiceImpl<~[entitySimpleName], ~[idtype]> implements ~[entitySimpleName]Service {
}
